:root{
 --fuenteHeading:'PT Sans', sans-serif;
 --fuenteParrafos: 'Open Sans', sans-serif;
 --primario:#784D3C;
 --blanco: #fff;
 --negro: #000;
 --gris: #e1e1e1;
}

html{
    font-size: 62.5%; /*10 px = 1rem*/
    box-sizing: border-box;
}

*,*:after,*:before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: var(--fuenteParrafos);
    line-height: 2;
}

/**Globales**/

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

}

a{
    text-decoration: none;
}

h1,h2,h3,h3{
    font-family: var(--fuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    width: 100%;
}

/*Utility first*/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* .boton{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 1.5rem 3rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2rem;
    
} */

/*Header*/

.header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60rem;
}

@media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__texto{
    font-weight: normal;
    color: var(--blanco);
}

.logo__texto--bold{
    font-weight: bold;
}
.navegacion__enlace{
    color: var(--blanco);
    font-size: 1.8rem;
    display: block;
    text-align: center;
}

@media (min-width:768px){
    .navegacion{
        display: flex;
        gap:2rem;
    }
}
.header__texto{
    color: var(--blanco);
    margin-top: 8rem;
}

@media (min-width:768px){
    .header__texto{
        margin-top: 15rem;
    }
}

/*PRINCIPAL*/

@media (min-width:768px){
    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada__titulo{
    font-weight: bold;
}
